// SPDX-FileCopyrightText: 2025 Julius Künzel <julius.kuenzel@kde.org>
// SPDX-License-Identifier: CC-BY-SA-4.0

@use "colors";

@mixin generic {
    border-style: solid;
    border-width: 2px;
    transition: all .2s;
    border-radius: 6px;
    background-color: unset;
    color: var(--button-main-color) !important;
    border-color: var(--button-main-color) !important;

    &:hover {
        border-radius: 0px;
        background-color: unset;
    }

    &::after {
        color: var(--button-main-color);
    }
}

.kdenlive-button-static-white {
    --button-main-color: white;
    @include generic;
}

.kdenlive-button-light {
    --button-main-color: #{colors.$light-blue};
    @include generic;
}

.kdenlive-button-dark {
    --button-main-color: #{colors.$mid-blue};
    @include generic;
}

.kdenlive-button-black {
    --button-main-color:: black;
    @include generic;
}

@media (prefers-color-scheme: dark) {
    .kdenlive-button-light {
        --button-main-color: #{colors.$dark-blue};
        @include generic;
    }

    .kdenlive-button-dark {
        --button-main-color: #{colors.$light-blue};
        @include generic;
    }

    .kdenlive-button-black {
        --button-main-color:: white;
        @include generic;
    }
}
