// SPDX-FileCopyrightText: 2025 Julius Künzel <julius.kuenzel@kde.org>
// SPDX-License-Identifier: CC-BY-SA-4.0

@use "colors";
@forward "buttons";

.hero-section {
    background: linear-gradient(-30deg, #BC5579 0%, #5754A8 100%);
    background-image: url("/images/bg-dl.jpg");
    background-size: cover;
    background-position: 50%;
    color: white
}

.bg-kdenlive-light {
    background-color: colors.$light-blue;
}

.text-kdenlive-dark {
    color: colors.$mid-blue;
}

.section-kdenlive-blue {
    background: colors.$light-blue;
}

.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {

    .bg-kdenlive-light {
        background-color: colors.$dark-blue;
    }

    .text-kdenlive-dark {
        color: colors.$light-blue;
    }

    .section-kdenlive-blue {
        background: colors.$dark-blue;
    }
}
