// SPDX-FileCopyrightText: 2025 Julius Künzel <julius.kuenzel@kde.org>
// SPDX-License-Identifier: CC-BY-SA-4.0

@use "colors";
@forward "common";

.dl-box-light {
    background-color: colors.$light-blue;
    border-radius: 10px 10px 10px 10px;
    padding: 30px 30px 30px 30px;
}

.os-icon svg{
    height: 70px;
    fill: colors.$mid-blue;
}

@media (prefers-color-scheme: dark) {
    .os-icon svg {
        fill: colors.$light-blue;
    }
}
