// SPDX-FileCopyrightText: 2025 Julius Künzel <julius.kuenzel@kde.org>
// SPDX-License-Identifier: LGPL-3.0-or-later

@use "colors";
@forward "common";
@use 'sass:color';

// .hero-section {
//     text-shadow: black 0px 0px 10px;
// }

.post-entry:hover a > .h3 {
    text-decoration: underline;
}


.feature-image {
    margin-bottom: 5%
}

.post-entry {
    transition: transform .2s; /* Animation */
}

.post-entry:hover {
    transform: scale(1.1);
}
