{{/*
# SPDX-FileCopyrightText: 2023 Phu Nguyen <phu@kde.org>
# SPDX-FileCopyrightText: 2025 Julius Künzel <julius.kuenzel@kde.org>
# SPDX-License-Identifier: CC-BY-SA-4.0
*/}}

{{ define "head-import" }}
  <link rel="stylesheet" type="text/css" href="https://cdn.kde.org/breeze-icons/icons.css">

  {{ partial "sass-include.html" "download.scss" }}
{{ end }}

{{ define "main" }}
<main id="content">
  <!-- Stable Section -->
  <section class="text-center py-4 mt-0 hero-section" style="">
    <div class="container text-center">
      <h1>{{ i18n "download.stable"}}</h1>
      <h2 class="mb-4">{{ .Params.kdenlive_version }}</h2>
      <div class="row justify-content-center">
        {{ range .Params.stable_sections }}
          <div class="col-12 col-md-6 col-xl-3 mb-4 px-5 px-xl-3">
            <div class="card p-5 h-100 rounded-4 bg-kdenlive-light text-kdenlive-dark">
              <div class="d-flex flex-column justify-content-center">
                <div class="os-icon mb-3">{{ partial "svg" .platform }}</div>
                <h2 class="mt-0 mb-3 h4">{{ i18n .platform }}</h2>
                {{ range .sources }}
                  <a href="{{ .url }}" hreflang="{{ .Site.LanguagePrefix }}" class="learn-more button kdenlive-button-dark my-2 mx-2">{{ .name }}</a>
                {{ end }}
              </div>
              <p class="fs-6 mt-3"><em>{{ .text | markdownify }}</em></p>
            </div>
          </div>
        {{ end }}
      </div>
      <p>{{ i18n "download.thanks" }}</p>
      <p>{{ i18n "donate.please" }}</p>
      <a href="{{ "/download" | relLangURL }}" hreflang="{{ .Site.LanguagePrefix }}" class="learn-more button kdenlive-button-static-white my-2 mx-3">
        <i class="icon icon_love-amarok"></i>
        {{ i18n "donate.button" }}
      </a>
    </div>
  </section>

  {{ .Content }}

  <!-- Daily Section -->
  <section class="section-kdenlive-blue text-kdenlive-dark py-4 my-0">
    <div class="container text-center">
      <h1 class="mb-3 h1">{{ i18n "download.nightly" }}</h1>
      <p>{{ i18n "download.nightly.details"}}</p>
      <div class="alert alert-warning" role="alert">{{ i18n "unstable.disclaimer" | markdownify}}</div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-xl-3 mb-4 px-5 px-xl-3">
        <div class="os-icon mb-3">{{ partial "svg" "windows" }}</div>
          <h2 class="mt-0 mb-3 h4">{{ i18n "windows"}}</h2>
          <a href="https://cdn.kde.org/ci-builds/multimedia/kdenlive/master/windows/" class="learn-more button kdenlive-button-dark my-2 mx-3">{{ i18n "download.windows.installable" }}</a>
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-4 px-5 px-xl-3">
          <div class="os-icon mb-3">{{ partial "svg" "linux" }}</div>
          <h2 class="mt-0 mb-3 h4">{{ i18n "linux"}}</h2>
          <a href="https://cdn.kde.org/ci-builds/multimedia/kdenlive/master/linux/" class="learn-more button kdenlive-button-dark my-2 mx-3">{{ i18n "appimage"}}</a>
          <a href="https://cdn.kde.org/flatpak/kdenlive-nightly/org.kde.kdenlive.flatpakref" class="learn-more button kdenlive-button-dark my-2 mx-3">{{ i18n "flatpak"}}</a>
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-4 px-5 px-xl-3">
          <div class="os-icon mb-3">{{ partial "svg" "macos" }}</div>
          <h2 class="mt-0 mb-3 h4">{{ i18n "macos"}}</h2>
          <a href="https://cdn.kde.org/ci-builds/multimedia/kdenlive/master/macos-x86_64/" class="learn-more button kdenlive-button-dark my-2 mx-3">{{ i18n "download.macos.silicon" }}</a>
          <a href="https://cdn.kde.org/ci-builds/multimedia/kdenlive/master/macos-arm64/" class="learn-more button kdenlive-button-dark my-2 mx-3">{{ i18n "download.macos.intel" }}</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Archive Section -->
  <section class="section py-4 my-0">
    <div class="container text-center">
      <h2 class="mb-3 h1">{{ i18n "download.archive" }}</h2>
      <p>{{ i18n "download.archive.details"}}</p>
      <a href="https://download.kde.org/Attic/kdenlive/" class="learn-more button kdenlive-button-black my-2 mx-3">{{ i18n "archive" }}</a>
    </div>
  </section>

</main>

{{ end }}
