{{ define "main" }}
<main role="main">
  {{ partial "jumbotron" . }}
  <article class="post-content">
    <div class="content-width">
      {{ .TableOfContents }}
      {{ .Content }}
    </div>
  </article>


  {{ with .Params.include_html }}
  <div id="wrapper">{{ i18n "loading" }}</div>
  <script>
    window.addEventListener("load", function() {
      fetch("{{ . }}").then(response => {
        return response.text();
      }).then(html => {
        var wrapper = document.getElementById("wrapper");
        wrapper.innerHTML = html;
        var scripts = wrapper.querySelectorAll("script");
        for (var i = 0; i < scripts.length; i++) {
          if (scripts[i].innerText) {
            eval(scripts[i].innerText);
          } else {
            fetch(scripts[i].src).then(response => { return response.text(); })
              .then(js => { eval(js); });
          }
          scripts[i].parentNode.removeChild(scripts[i]);
        }
      });
    });
  </script>
  {{ end }}

  {{ partial "copyright.html" . }}
</main>
{{ end }}
