{{/*
SPDX-FileCopyrightText: 2025 Julius Künzel <julius.kuenzel@kde.org>
SPDX-License-Identifier: CC-BY-SA-4.0
*/}}

{{ define "head-import" }}
  <!-- we need the download styles for the pre_download section -->
  {{ partial "sass-include.html" "download.scss" }}
{{ end }}

{{ define "main" }}
<main role="main" style="max-width: 100% !important;">
  <article class="post-content">
    {{ partial "jumbotron" . }}

    <div class="content-width">
      {{ .Content }}

      {{ if not (or .Content (.Resources.Get "changelog.md")) }}
        <p>{{i18n "release.translationonly" }}</p>
      {{ end }}

      {{ with .Params.pre_downloads}}
        {{ $version := partial "kdenlive-version.html" $ }}
        <section class="section-kdenlive-blue text-kdenlive-dark py-1 my-0 rounded-5">
          <div class="container text-center">
            <h2><b>{{ i18n "pre-release.header"}}</b></h2>
            <p>{{ index $version "pretty" }}</p>
            <div class="alert alert-warning" role="alert">{{ i18n "unstable.disclaimer" | markdownify}}</div>
            <div class="row justify-content-center">
              {{ range . }}
                <div class="col-12 col-md-6 col-xl-3 mb-4 px-5 px-xl-3">
                    <div class="d-flex flex-column justify-content-center">
                      <div class="os-icon mb-3">{{ partial "svg" .platform }}</div>
                      <h3 class="mt-0 mb-3 h4">{{ i18n .platform }}</h3>
                      {{ range .sources }}
                        <a href="{{ .url }}" hreflang="{{ $.Site.LanguagePrefix }}" class="learn-more button kdenlive-button-dark my-2 mx-2">{{ .name }}</a>
                      {{ end }}
                    </div>
                    <p class="fs-6 mt-3"><em>{{ .text | markdownify }}</em></p>
                </div>
              {{ end }}
            </div>
          </div>
        </section>
      {{ end }}

      {{ with .Resources.Get "changelog.md" }}
        <h2 id="full-changelog">{{i18n "releases.full-changelog" }}</h2>
        {{ .Content }}
      {{ end }}

      {{ partial "discourse_comments.html" . }}

      {{ partial "include-html" . }}

      {{ partial "related-post" . }}

      {{ partial "copyright.html" . }}
    </div>
  </article>
</main>
{{ end }}
