{{/*
# SPDX-FileCopyrightText: 2024 Julius Künzel <julius.kuenzel@kde.org>
# SPDX-License-Identifier: CC-BY-SA-4.0
*/}}

{{ define "main" }}
<main role="main" style="max-width: 100% !important;">
  {{ partial "jumbotron" . }}
  <div class="content-width">
    <div class="container">
        {{ .Content }}
        {{ range .Params.lists }}
            <h2 id="{{ replace (lower .title) " " "-" }}">{{ .title }}</h2>
            <div class="row row-cols-3 g-4">
              {{ range .items }}
                <div class="col">
                  <div class="card h-100" style="width: 18rem;">
                    <div class="card-header d-flex flex-wrap">
                      <div class="flex-grow-5">
                        {{ if eq .roadmap_status "wip" }}
                          ⏳ {{ i18n "roadmap.wip" }}
                        {{ else if eq .roadmap_status "done" }}
                          ✅ {{ i18n "roadmap.done" }}
                        {{ else }}
                          🔸 {{ i18n "roadmap.todo" }}
                        {{ end }}
                      </div>
                      {{ if .roadmap_version }}
                        <div class="ms-auto">
                          {{ if eq .roadmap_status "done" }}
                            <span class="badge text-bg-success">{{ partial "fn/i18n_args" (slice "roadmap.added-in-version" .roadmap_version) }}</span>
                          {{ else }}
                            <span class="badge text-bg-info">{{ partial "fn/i18n_args" (slice "roadmap.planned-for-version" .roadmap_version) }}</span>
                          {{ end }}
                        </div>
                      {{ end }}
                    </div>

                    <div class="card-body">
                      {{ if .link }}
                        <p class="card-text">
                          <a href="{{ .link }}" class="text-underline-hover learn-more">{{ .label }}</a>
                        </p>
                      {{ else }}
                        <p class="card-text">{{ .label }}</p>
                      {{ end }}
                    </div>

                    {{ if or .roadmap_fundraiser .sok_year .gsoc_year }}
                      <div class="card-footer">
                        {{ if .roadmap_fundraiser }}
                          <span class="badge text-bg-secondary">🏆 {{ i18n "fundraiser" }}</span>
                        {{ end }}
                        {{ if .sok_year }}
                          <span class="badge text-bg-secondary">🧑‍🎓 SoK {{ .sok_year }}</span>
                        {{ end }}
                        {{ if .gsoc_year }}
                          <span class="badge text-bg-secondary">🧑‍🎓 GSoC {{ .gsoc_year }}</span>
                        {{ end }}
                      </div>
                    {{ end }}
                  </div>
                </div>
              {{ end }}
            </div>
        {{ end }}
    </div>
  </div>
</main>

{{ end }}
