{{/*
SPDX-FileCopyrightText: 2020-2021 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

<footer id="kFooter" class="footer">

  {{ with $.Site.Params.showDonationFooter }}
  <section id="kFooterIncome" class="container">
    <div id="kDonateForm">
      <div class="center">
        <h2 class="h5 mt-2 mb-3">{{ i18n "donate-to-kde" }} <a href="https://kde.org/community/donations/index.php#money" target="_blank">{{ i18n "why-donate" }}</a></h2>
        <form action="https://www.paypal.com/en_US/cgi-bin/webscr" method="post" onsubmit='return amount.value >= 2 || window.confirm({{ i18n "donation-too-small" }});'>
          {{ partialCached "donation_fields.html" . }}
          <input type="hidden" name="custom" value="{{ $.Site.Params.donationBox | default "//kde.org/index/donation_box" }}">
          <label class="visually-hidden" for="donateAmountField">{{ i18n "amount" }}</label><input type="text" name="amount" value="20.00" id="donateAmountField" data-kpxc-id="donateAmountField"> €
          <button type="submit" id="donateSubmit">{{ i18n "donate-via-paypal" }}</button>
        </form>
        <span class="h6"><a class="mt-3 d-inline-block" href="https://kde.org/community/donations/others" target="_blank">{{ i18n "other-donate" }}</a></span>
      </div>
    </div>
    <div id="kMetaStore">
      <div class="center">
        <h2 class="h5 mb-3 mt-2">{{ i18n "visit-kde-metastore" }}</h2>
        <p class="h6">{{ i18n "show-love-store" }}</p>
        <a href="https://kde.org/stuff/metastore" class="button">{{ i18n "click-store" }}</a>
      </div>
    </div>
  </section>
  {{ end }}

  <section id="kLinks" class="container pb-4">
    <div class="row">
      <nav class="col-sm">
        <h3>{{ i18n "nav.community" }}</h3>
        <a href="https://docs.kdenlive.org{{ $.Site.LanguagePrefix }}" hreflang="{{ $.Site.LanguagePrefix }}">{{ i18n "nav.usermanual" }}</a>
        <a href="https://discuss.kde.org/tag/kdenlive">{{ i18n "nav.forum" }}</a>
        <a href="https://mail.kde.org/mailman/listinfo/kdenlive">{{ i18n "nav.mailinglist" }}</a>
        <a href="{{ "/trademark-logo" | relLangURL }}" hreflang="{{ $.Site.LanguagePrefix }}">{{ i18n "nav.trademarkandlogo" }}</a>
      </nav>

      <nav class="col-sm">
        <h3>{{ i18n "nav.getinvolved" }}</h3>
        <a href="https://bugs.kde.org/enter_bug.cgi?product=kdenlive">{{ i18n "nav.bugrepots" }}</a>
        <a href="/bug-triaging/">{{ i18n "nav.bugtriaging" }}</a>
        <a href="https://docs.kdenlive.org/en/more_information/get_involved.html">{{ i18n "nav.documentation" }}</a>
        <a href="https://community.kde.org/Kdenlive">{{ i18n "nav.wiki" }}</a>
      </nav>

      <nav class="col-sm">
        <h3>{{ i18n "resources" }}</h3>
        <a href="https://kde.org/code-of-conduct/">{{ i18n "code-of-conduct" }}</a>
        <a href="{{ $.Site.Params.impressum | default "https://kde.org/privacypolicy" }}">{{ i18n "privacy-policy" }}</a>
        <a href="https://kde.org/privacypolicy-apps">{{ i18n "privacy-policy-apps" }}</a>
      </nav>
    </div>
  </section>

  <div id="kSocial" class="container kSocialLinks">
    {{ partialCached "social_links.html" . }}
  </div>

  <div id="kLegal" class="container">
    <p class="d-block d-xl-flex flex-wrap mb-0 py-3 h6">
      <small lang="en" class="maintenance">
        {{ i18n "maintenance-address" | markdownify }} {{ with .GitInfo }}
        {{ $hash := printf "<a href='https://invent.kde.org/websites/%s/-/commit/%s'>%s</a>" $.Site.Params.repoName .Hash .AbbreviatedHash }}
        {{ partial "fn/i18n_args" (slice "generating-commit" $hash) | markdownify }}
        {{ end }}
      </small>
      <small class="trademark">
        {{- $linkWithTitle := i18n "trademark-link-title" | printf "https://ev.kde.org/ \"%s\"" }}
        {{- $kdenliveTrademarkWithLink := partial "fn/i18n_args" (slice "kdenlive-trademark-with-link" ("/trademark-logo" | relLangURL) $linkWithTitle) }}
        {{- $trademarkWithLink := partial "fn/i18n_args" (slice "trademark-with-link" $linkWithTitle) }}
        {{ $trademarkWithLink | markdownify }} </br> {{ $kdenliveTrademarkWithLink | markdownify }}  | <a href="https://kde.org/community/whatiskde/impressum">{{ i18n "legal" }}</a>
      </small>
    </p>
  </div>
  {{ with $.Site.Params.matomo }}
  <!-- Matomo Image Tracker-->
  <img src="https://stats.kde.org/matomo.php?idsite={{ . }}&amp;rec=1" style="border:0" alt="" />
  <!-- End Matomo -->
  <script>
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['disableCookies']);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://stats.kde.org/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '{{ . }}']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  {{ end }}
</footer>
