{{/*
SPDX-FileCopyrightText: 2025 Julius Künzel <julius.kuenzel@kde.org>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ $profiles := . }}

{{ $data := dict }}

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
    {{ range $profiles }}
        {{ $localProfile := . }}
        {{ $url := printf "https://invent.kde.org/api/v4/users?username=%s" .username }}
        {{ with try (resources.GetRemote $url) }}
            {{ with .Err }}
                {{ errorf "%s" . }}
            {{ else with .Value }}
                {{ $data = . | transform.Unmarshal }}
                    <div class="col">
                        <div class="card h-100 w-100">
                            <div class="card-body">
                                <h2 class="card-title">{{ index $data 0 "name" }}</h2>
                                <p class="card-text text-lighter"><span> @{{ index $data 0 "username" }}</span>
                                {{ if $localProfile.role }}
                                    <span> · {{ $localProfile.role }}</span>
                                {{ end }}
                                </p>
                                <a href="{{ index $data 0 "web_url" }}" class="button">KDE GitLab</a>
                            </div>
                        </div>
                    </div>
            {{ else }}
                {{ errorf "Unable to get remote resource %q" $url }}
            {{ end }}
        {{ end }}
    {{ end }}
</div>

