<a href="https://webchat.kde.org/#/room/#kdenlive:kde.org" aria-label="{{ i18n "share-matrix" }}">{{ partial "svg" "social/matrix" }}</a>
<a href="https://floss.social/@kdenlive" aria-label="{{ i18n "share-mastodon" }}">{{ partial "svg" "social/mastodon" }}</a>
<a href="https://www.reddit.com/r/kdenlive/" aria-label="{{ i18n "share-reddit" }}">{{ partial "svg" "social/reddit" }}</a>
<a href="https://www.youtube.com/@KdeOrg" aria-label="{{ i18n "share-youtube" }}">{{ partial "svg" "social/youtube" }}</a>
<a href="https://tube.kockatoo.org/a/kde_community/video-channels" aria-label="{{ i18n "share-peertube" }}">{{ partial "svg" "social/peertube" }}</a>
