<div class="row justify-content-center text-center">
    <div class="col">
        <a href="https://cppreference.com" >
            {{ with resources.Get "/images/logo-cpp.svg" }}
                <img src="{{ .RelPermalink }}" width="128px" aria-label="{{ i18n "link-cpp" }}" />
            {{ end }}
        </a>
    </div>
    <div class="col">
        <a href="https://www.qt.io/" >
            {{ with resources.Get "/images/logo-qt.png" }}
                <img src="{{ .RelPermalink }}" width="128px" aria-label="{{ i18n "link-qt" }}" />
            {{ end }}
        </a>
    </div>
    <div class="col">
        <a href="https://kde.org" >
            {{ with resources.Get "/images/logo-kde.svg" }}
                <img src="{{ .RelPermalink }}" width="128px" aria-label="{{ i18n "link-kde" }}" />
            {{ end }}
        </a>
    </div>
    <div class="col">
        <a href="https://www.mltframework.org/" >
            {{ with resources.Get "/images/logo-mlt.png" }}
                <img src="{{ .RelPermalink }}" width="128px" aria-label="{{ i18n "link-mlt" }}" />
            {{ end }}
        </a>
    </div>
    <div class="col">
        <a href="https://ffmpeg.org" >
            {{ with resources.Get "/images/logo-ffmpeg.png" }}
                <img src="{{ .RelPermalink }}" width="128px" aria-label="{{ i18n "link-ffmpeg" }}" />
            {{ end }}
        </a>
    </div>

</div>
