{{/*
# SPDX-FileCopyrightText: 2025 Julius Künzel <julius.kuenzel@kde.org>
# SPDX-License-Identifier: CC-BY-SA-4.0
*/}}

{{ define "head-import" }}
  {{ partial "sass-include.html" "home.scss" }}
{{ end }}

{{ define "main" }}
<main id="content">
  <section class="text-center py-4 mt-0 hero-section" style="">
    <img class="mt-5" width="200px" src="/logo-colored-textless.svg">
    <h1 class="mt-2">{{ .Site.Title }}</h1>
    <h2>{{ .Site.Params.subtitle }}</h2>
    <p>{{ .Site.Params.description }}</p>
    <a href="{{ "/download" | relLangURL }}" hreflang="{{ .Site.LanguagePrefix }}" class="learn-more button kdenlive-button-static-white my-2 mx-3">{{ i18n "Home.downloadbutton" }}</a>
    <figure class="mx-auto p-4" style="max-width: 1000px">
      <img class="img-fluid" alt={{ i18n "Home.alt_img"}} src="/images/k1.png"/>
      <figcaption>{{ i18n "Home.figcaption" | markdownify}}</figcaption>
    </figure>
  </section>

  {{ if .Content }}
    <section class="section py-4 mt-0">
      <div class="container">
        {{ .Content }}
      </div>
    </section>
  {{ end }}

  <!-- News Section -->
  <section class="section-kdenlive-blue text-kdenlive-dark mt-0 py-4">
    <div class="container">
      <h2 class="mb-3 h1">{{ i18n "posts" }}</h2>
      <div class="row">
      {{ $pages := (.Site.GetPage "/news").RegularPagesRecursive }}
      {{ range .Site.Home.Translations }}
      {{ $pages = $pages | lang.Merge (.Site.GetPage "/news").RegularPagesRecursive }}
      {{ end }}
      {{ range first 3 (where $pages "Params.hidden" "ne" "true") }}
        <div class="col-12 col-md-4 mb-4">
          <div class="post-entry mt-3">
            <a href="{{ .RelPermalink }}">{{ partial "featured-image.html" . }}</a>
            <div class="text-lighter fs-6">{{ partial "i18n_date.html" . }}</div>
            <a href="{{ .RelPermalink }}"><p class="mt-1 h3 learn-more">{{ partial "fn/i18n_title" . | safeHTML}}</p></a>
          </div>
        </div>
      {{end}}
      </div>
      <div class="d-flex align-items-end flex-column">
        <a href="{{ "/news" | relLangURL }}" class="learn-more mt-3 text-underline-hover" style="font-weight: bold;">&#x1F4E2; {{ i18n "view-all-posts" }}</a>
      </div>
    </div>
  </section>

  <!-- Learn more Section -->
  <section class="section py-4">
    <div class="container text-center">
        <h2 class="mt-0"> {{ i18n "learn-more" }}</h2>
          <div class="d-flex gap-3 justify-content-center">
          {{ range .Params.learnmore }}
              <a href="{{ .link | relLangURL }}" hreflang="{{ .Site.LanguagePrefix }}" class="learn-more button kdenlive-button-black my-2 mx-3">{{ .title | markdownify }}</a>
          {{ end }}
        </div>
    </div>
  </section>

</main>

{{ end }}
